<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>20180801</display-name>
  <!--  시작페이지 지정 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  추가할 페이지는 여기서부터  추가. -->
  <servlet>
   <servlet-name>HelloWorld</servlet-name>
   <servlet-class>com.micol.ex.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>HelloWorld</servlet-name>
   <url-pattern>/hw</url-pattern>
  </servlet-mapping>
  
  
</web-app>